**/.DS_Store
__pycache__/
notebooks
job_logs/
data_feat/
patches/
results/
heatmaps/demo_abmil/
heatmaps/heatmap_production_results/
heatmaps/heatmap_production_results_pl0/
heatmaps/heatmap_raw_results/
heatmaps/heatmap_raw_results_pl0
heatmaps/process_lists/old
heatmaps/RAW
heatmaps/RAW_WS1
heatmaps/RAW2
.idea
scripts/OLD
scripts/test_abmil
scripts/test_gabmil
scripts/test_revu
scripts/test_transmil
scripts/ws1_attention
splits/other